@font-face {
  font-family: 'fontello';
  src:
    url('/fontello.woff2') format('woff2'),
    url('/fontello.woff') format('woff');
  font-display: block;
}

.icon {
  position: relative;
  display: inline-block;
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  line-height: 1em;
  width: 1em;
}
a:has(.icon) {
  text-decoration: none;
}

.icon-rotate:before {
  content: '\e800';
}
.icon-black-white:before {
  content: '\e801';
}
.icon-horizontal:before {
  content: '\e802';
}
.icon-vertical:before {
  content: '\e803';
}
.icon-download:before {
  content: '\e804';
}
.icon-stats:before {
  content: '\e805';
}
.icon-lock:before {
  content: '\e806';
}
.icon-lock-open:before {
  content: '\f13e';
}
.icon-external:before {
  content: '\f08e';
}
.icon-eraser:before {
  content: '\f12d';
}
.icon-list:before {
  content: '\e807';
}
.icon-graph:before {
  content: '\e808';
}
